h1{
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
}
h2{
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
  color: #F2F2F2;
  white-space: pre-line;
}
p,span,a,li{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F4F4F4;
}
body{
  background-color: #000A3F;
}
.button{
  width: 122px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}
.button__body{
  color: #ffffff;
  text-transform: uppercase;
}
/*  header  */
.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 54px 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  display: flex;
}
.logo-title{
  margin-left: 3px;
  vertical-align: middle;
  white-space: pre-line;
}
.header__menu{
  display: flex;
}
.header__menu-link{
  margin-right: 51px;
}
.burger {
  width: 21px;
  height: 12px;
  align-self: center;
  z-index: 5;
}
.burger__line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.burger__line-two{
  margin: 6px 0;
}


/*  aside  */
.aside-left{
  position: fixed;
  width: 16.66%;
  height: 100%;
}
.aside__content{
  position: absolute;
  left: calc(100% - 12px);
  bottom: 68px;
  transform: rotate(-90deg);
  width: calc(100vh - 100px);
  text-transform: uppercase;
  transform-origin: top left;
}
/*  Main  */
.main-page{
  width: 100%;
  display: flex;
}

.main-page__nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.main-page__container{
  padding-left: 16.6%;
  width: 100%;
}

/* main-page slide  */
.main-page__slide{
  height: 100vh;
  display: flex;
  align-items: center;
}
.slide__content{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.slide__images{
  position: relative;
  max-width: fit-content;
}
.slide__images:hover .slide__bg img{
  filter: blur(6px);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.slide__image{
  position: absolute;
  z-index: 2;
}
.slide__bg{
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.slide__text-block{
  max-width: 260px;
}
.slide__title{
  margin-bottom: 20px;
}
.slide-text{
  margin-bottom: 15px;
}
.slide__button{
  margin-top: 10px;
}
/*  welcome-slide  */
.welcome-slide{
  padding: 0 88px;
}
.welcome-slide__content{
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome-slide .slide__text{
  margin: 25px 0;
  font-weight: 500;
  line-height: 22px;
  white-space: pre-line;
}

/*  park slide  */
.park-slide{
  padding: 0 14.5%;
}
.park-slide .slide__image{
  top: -70px;
}
/*  beach slide*/
.beach-slide{
  padding: 0 16% 0 12%;
}
.beach-slide .slide__image{
  left: 32px;
}
.beach-slide .slide__text-block{
  margin-bottom: 40px;
}
/*  glamping slide  */
.glamping-slide{
  padding: 0 12.1% 0 11.5%;
}
.glamping-slide .slide__image{
  bottom: 5px;
    left: 2px;
}
.glamping-slide .slide__text-block{
  max-width: 290px;
}

/*  calendar slide  */
.calendar-slide{
  padding: 0 7.7% 0 12.7%;
}
.calendar-slide .slide__image{
  left: 135px;
}
.calendar-slide .slide__text-block{
  max-width: 344px;
}


/*  footer  */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px 61px 40px 63px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__mouse{
  padding: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.footer__social-link{
  margin: 0 6px;
}