html{
  scroll-behavior: smooth;
}
h1{
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
}
h2{
  margin-left: -3px;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #F2F2F2;
  white-space: pre-line;
}
p,span,a,li{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #F4F4F4;
}
body{
  background-color: #000A3F;
}

.lock-scroll{
  overflow: hidden;
}
.button{
  position: relative;
  width: 122px;
  height: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  transition: all 0.7s ease-in-out;
}
.button:hover{
  border: none;
  background:  linear-gradient(90deg, #C3FD4A 0%, #9CEEA1 100%);
}
.button::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  filter: blur(6px);
  background: linear-gradient(90deg, #C3FD4A 0%, #9CEEA1 100%);
  transition: opacity 0.5s ease-in-out;
}
.button:hover::before{
  opacity: 1;
}
.button__body{
  color: #ffffff;
  text-transform: uppercase; 
  z-index: 2;
}
.ticker{
  position: absolute;
  top: 20%;
  left: -20%;
  display: block;
  width: 150%;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
}
.ticker-text{
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Proxima"; 
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; 
  opacity: 0.3;
}
.mobile_text,
.desktop_text{
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.mobile_text{
  display: none;
}
/*  header  */
.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 54px 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 110;
}
header>a{
  z-index: 110;
}
.header__logo{
  display: flex;
  z-index: 110;
}
.logo-title{
  margin-left: 3px;
  vertical-align: middle;
  white-space: pre-line;
}
.header__menu{
  display: flex;
}
.header__menu-link{
  margin-right: 51px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  z-index: 110;
}
.burger {
  width: 21px;
  height: 12px;
  align-self: center;
  z-index: 110;
  cursor: pointer;
}
.burger__line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.burger__line-two{
  margin: 6px 0;
}
.burger__menu{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}
.burger__menu.active{
  display: block;
}
.burger__menu-list{
  counter-reset: num;
}
.burger__menu-item{
  counter-increment: num;
  text-align: center;
  margin: 42.5vh 0;
  position: relative;
}
.burger__menu-item::before{
  font-weight: 500;
  letter-spacing: 0;
  content: counter(num,decimal-leading-zero);
  position: absolute;
  bottom: calc(100% + 30px);
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  line-height: 22px;
}
.burger__menu-link{
  position: relative;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  z-index: 11;
}
.burger__menu-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #ffffff;
}
.vk-icon, .inst-icon, .fb-icon {
  fill: #D7D7D7;
}
.vk-icon:hover{ 
  fill: #00E4E1;
}
.inst-icon:hover{
  fill:#AEFF14;
}
.fb-icon:hover{
  fill: #EFFF01;
}
/*  aside  */
.aside-left{
  position: fixed;
  width: 16.66%;
  height: 100%;
  z-index: 4;
}
.aside__content{
  position: absolute;
  left: calc(100% - 22px);
  bottom: 101px;
  transform: rotate(-90deg);
  width: calc(100vh - 256px);
  text-transform: uppercase;
  transform-origin: top left;
  z-index: 5;
}
.screen-nav-marker-track{
  width: calc(100vh - 256px);
  height: 5px;
}
.screen-nav-marker{
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  will-change: transform;
  pointer-events: none;
  transition: right 1s ease-in-out;
}
.aside__nav{
  margin-top: 7px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.follower{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(10.75deg, #C3FD4B 9.77%, #9CEEA1 87.79%);
  filter: blur(146px);
  border-radius: 124.767px;
  transform: rotate(48.73deg);
}
/*  Main  */
.main-page{
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.main-page__container{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 3;
}
.welcome__video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 10, 63, 0.65) 13.54%, rgba(11, 10, 52, 0) 100%);
  z-index: 1;
}
.welcome__video{
  position: absolute;
  top: -5px;
  left: -5px;
  height: 100.5vh;
  z-index: -1;
}
/* main-page slide  */
.slick-initialized.slick-slider.slick-vertical .main-page__slide.slick-slide,
.main-page__slide{
  position: relative;
  margin-left: 16.6%;
  width: 83.4% !important;
  height: 100vh !important;
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}
.main-page__slide.hidden{
    visibility: hidden;
    height: 0 !important;
    opacity: 0;
}
.slide__content{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.slide__images{
  position: relative;
  max-width: fit-content;
  animation-duration: 2s;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.slide__image{
  position: absolute;
  z-index: 2;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.slide__bg{
  position: relative;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.slide__bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slide__images:hover .slide__bg::before{
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.slide__text-block{
  max-width: 260px;
  animation-duration: 3s;
}
.slide__title{
  margin-bottom: 20px;
}
.slide-text{
  margin-bottom: 15px;
}
.slide-text:first-of-type{
  font-weight: 500;
  font-size: 13px;
}
.slide__button{
  margin-top: 25px;
}
.slide__bottom-blur{
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 60%;
  height: 250px;
  background: #000A3F;
  filter: blur(47px);
  z-index: 5;
}


/*  welcome-slide  */
.welcome-slide{
  position: unset !important;
  padding: 0 88px;
}
.welcome-slide__content{
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}
.welcome-slide .slide__text{
  margin: 25px 0;
  font-weight: 500;
  line-height: 22px;
  white-space: pre-line;
}

/*  park slide  */
.park-slide{
  padding: 0 14.5%;
}
.park-slide .slide__image{
  top: -60px;
}
.park-slide .slide__images:hover .slide__bg::before{
  top: -20px;
  left: -20px;
  width: 110%;
  height: 110%;
  background: url(../img/park-bg-hover.png) no-repeat;
}

/*  beach slide*/
.beach-slide{
  padding: 0 16% 0 12%;
}
.beach-slide .slide__image{
  top: -15px;
}
.beach-slide .slide__text-block{
  margin-bottom: 60px;
}
.beach-slide .slide__images:hover .slide__bg::before{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/beach-bg-hover.png) no-repeat;
}

/*  glamping slide  */
.glamping-slide{
  padding: 0 12.1% 0 11.5%;
}
.glamping-slide .slide__image{
  bottom: 1px;
  left: 5px;
}
.glamping-slide .slide__text-block{
  max-width: 290px;
}
.glamping-slide .slide__images:hover .slide__bg::before{
  top: -40px;
  left: -35px;
  width: 115%;
  height: 115%;
  background-image: url(../img/glamping-bg-hover.png);
}

/*  calendar slide  */
.calendar-slide{
  padding: 0 7.7% 0 5.9%;
}
.calendar-slide__images{
  margin-bottom: -35px;
}
.calendar-slide .slide__image{
  left: 135px;
}
.calendar-slide .slide__text-block{
  margin-bottom: 80px;
  max-width: 344px;
}
.calendar-slide .slide__images:hover .slide__bg::before{
  background-image: url(../img/calendar-bg-hover.png);
}
.contacts-page__bg-one,
.contacts-page__bg-two,
.contacts-page__bg-tree{
  position: absolute;
  z-index: -1;
}
.contacts-page__bg-one{
  bottom: 0;
  left: 0;
}
.contacts-page__bg-two{
  top: 15%;
  left: 50%;
}
.contacts-page__bg-tree{
  top: 30%;
  right: 53px;
}

.link{
  padding-right: 2px;
  height: fit-content;
  display: inline-block; 
  vertical-align: bottom;
  background-color: initial;
  border: 0;
  transition: opacity .7s ease;
  overflow: hidden;
}
.animation-in{
  height: fit-content;
  transition: opacity 2.5s ease;
  overflow: hidden;
}
.link>span,
.animation-inner{
  position: relative;
  transition: transform 1.7s ease;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
.animation-inner{
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.animation-down{
  transform: matrix(1, 0, 0, 1, 0, 100);
}
.link>span:before{
  position: absolute;
  top: 108%;
  content: attr(data-hover);
  transform: none;
}
.link:focus span, .link:hover span {
  transition: transform .3s ease-out;
  transform: translateY(-108%);
}
/*  footer  */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px 61px 40px 63px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 110;
}
.footer__mouse{
  padding: 3px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.footer__social-link{
  margin: 0 6px;
}

.contacts-page__container{
  padding: 125px 22.29% 116px 16.45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-page__adress-text{
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.ya-icon{
  vertical-align: middle;
  margin-left: 6px;
}
.contacts-page__info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts-page__block-heading{
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #E9E9E9;
}
.contacts-page-email,
.contacts-page__phone{
  display: block;
  margin-bottom: 8px;
}
.contacts-page__description-text{
  max-width: 325px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-line;
}
.text--medium{
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  color: inherit; 
}
@media screen  and (max-width: 1240px){
  .main-page__slide{
    padding: 0 7%;
  }
  .slide__text-block {
    margin-left: 20px;
  }
  .calendar-slide .slide__image{
    max-width: 60%;
    left: 25%;
  }
  .calendar-slide .slide__text-block{
    max-width: 260px;
  }
  .ticker{
    top: 10%;
  }
  .calendar-slide__images{
    margin: 0;
  }
}
@media screen and (max-width: 1000px){
    .aside-left{
      display: none;
    }
    .main-page__container{
      padding: 0;
    }
    .ticker{
      top: auto;
      transform: rotate(25deg);
      animation-fill-mode: none !important;
    }
    .slide__content{
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .welcome-slide__content{
      align-items: flex-start;
      justify-content: center;
    }
    .slide__text-block{
      margin: 0 0 0 20px !important;
    }
    .welcome__video{
      left: -50%;
    }
    .main-page__slide{
      margin: 0 auto;
      padding: 0;
      justify-content: center;
    }
    .contacts-page__container {
      padding: 125px 6% 116px 15%;
    }
    .welcome-slide{
      padding: 0 88px;
    }
    .glamping-slide__images,
    .calendar-slide__images {
      max-width: 390px;
    }
    .glamping-slide .slide__image {
      bottom: -16px;
      left: -16px;
    }
}
@media screen and (max-width: 768px){
  .header,
  .footer{
    padding: 60px 52px;
  }
  .ticker{
    transform: rotate(40deg);
    font-size: 96px;
  }
  .slick-initialized.slick-slider.slick-vertical .main-page__slide.slick-slide,
  .main-page__slide{
    width: 100% !important;
    margin: 0;
  }
  .slide__bg:before{
    content: none;
  }
  .contacts-page__info{
    justify-content: start;
  }
  .contacts-page__emails,
  .contacts-page__phoves{
    margin: 0 30px 20px 0;
  }
  .contacts-page__description-text{
    margin-right: 30px;
  }
  .burger__menu{
    background: #000A3F;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
@media screen and (max-width: 600px){
  .burger__menu-link{
    font-size: 36px;
  }
  .desktop_text{
    display: none;
  }
  .mobile_text{
    display: inline-block;
  }
  .header,
  .footer{
    padding: 27px 20px;
  }
  .header__menu-link{
    display: none;
  }
  .ticker{
    transform: rotate(50deg);
    font-size: 72px;
    top: 55%;
    left: -32%;
    width: 200%;
  }
  .ticker-text{
    animation: none !important;
  }
  .slick-initialized.slick-slider.slick-vertical .main-page__slide.slick-slide,
  .main-page__slide{
    padding: 0 30px;
  }
  .slide__content{
    flex-direction: column;
    align-items: center;
  }
  .welcome-slide__content{
    align-items: flex-start;
  }
  .slide__bottom-blur{
    display: none;
  }
  .slide__images {
    max-width: 250px;
  }
  .contacts-page__bg-one,.contacts-page__bg-two,.contacts-page__bg-tree{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  h2{
    font-size: 36px;
    line-height: 44px;
  }
  .glamping-slide .slide__image{
    bottom: -7px;
    left: -5px;
  }
  .contacts-page__container {
    padding: 125px 7% 116px;
  }
  .ticker{
    top: 40%;
  }
  .slide__title {
    margin-bottom: 16px;
  }
  .slide-text{
    margin-bottom: 13px;
    font-size: 9px;
    line-height: 12px;
  }
  .slide-text:first-of-type{
    font-size: 10px;
    line-height: 13px;
  }
  .slide__button{
    margin-top: 20px;
  }
  .calendar-slide .slide__title{
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (max-width: 400px) {
  .glamping-slide .slide__image{
    bottom: -11px;
    left: -8px;
  }
  .slide__images {
    max-width: 200px;
  }
  .park-slide .slide__images{
    max-width: 176px;
  }
}