html{
  scroll-behavior: smooth;
}
h1{
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
}
h2{
  margin-left: -3px;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #F2F2F2;
  white-space: pre-line;
}
h3{
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #F1F1F1;
  white-space: pre-line;
}
p,span,a,li{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #F4F4F4;
}
body{
  background-color: #000A3F;
  -webkit-text-size-adjust: none;
}
body::-webkit-scrollbar {
  display: none;
}
.lock-scroll{
  overflow: hidden;
}
.button{
  position: relative;
  width: 122px;
  height: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  transition: all 0.7s ease-in-out;
}
.button:hover{
  border: none;
  background:  linear-gradient(90deg, #C3FD4A 0%, #9CEEA1 100%);
}
.button::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  filter: blur(6px);
  background: linear-gradient(90deg, #C3FD4A 0%, #9CEEA1 100%);
  transition: opacity 0.5s ease-in-out;
}
.button:hover::before{
  opacity: 1;
}
.button__body{
  color: #ffffff;
  text-transform: uppercase; 
  z-index: 2;
}
.ticker{
  position: absolute;
  top: 20%;
  left: -20%;
  display: block;
  width: 150%;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
}
.ticker-text{
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Proxima"; 
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; 
  opacity: 0.3;
  transition: opacity 0.7s ease-in-out;
}
.ticker-text.animation-down{
  opacity: 0;
}
.logo-stroke{
  position: fixed;
  right: 59px;
  top: calc(50% - 38.5px);
  z-index: 10;
}
.burger__menu::-webkit-scrollbar {
  display: none;
}
.main-page__slide.hide-on-desktop{
  display: none;
}
/*  header  */
.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 54px 60px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 110;
}
header>a{
  z-index: 110;
}
.header__logo{
  display: flex;
  align-items: center;
  z-index: 110;
}
.logo-title{
  font-weight: 600;
  font-size: 9.6px;
  line-height: 9px;
  text-transform: capitalize;
  margin-left: 5px;
  vertical-align: middle;
  white-space: pre-line;
}
.header__menu{
  display: flex;
}
.header__menu-link{
  margin-right: 51px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  z-index: 110;
}
.burger {
  width: 21px;
  height: 12px;
  align-self: center;
  z-index: 110;
  cursor: pointer;
}
.burger__line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.burger__line-two{
  margin: 6px 0;
}
.burger__menu{
  position: absolute;
  top: -110vh;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}
.burger__menu.active{
  top: 0;
}
.burger__menu-list{
  counter-reset: num;
}
.burger__menu-item{
  counter-increment: num;
  text-align: center;
  margin: 42.5vh 0;
  position: relative;
}
.burger__menu-item::before{
  font-weight: 500;
  letter-spacing: 0;
  content: counter(num,decimal-leading-zero);
  position: absolute;
  bottom: calc(100% + 30px);
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  line-height: 22px;
}
.burger__menu-link{
  position: relative;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  z-index: 11;
}
.burger__menu-link>span,
.burger__menu-link>span::before{
  text-decoration: underline solid 1.5px;
  text-underline-offset: 10px;
}
.vk-icon, .inst-icon, .fb-icon {
  fill: #ffffff;
}
.vk-icon:hover{ 
  fill: #00E4E1;
}
.inst-icon:hover{
  fill:#AEFF14;
}
.fb-icon:hover{
  fill: #EFFF01;
}
/*  aside  */
.aside-left{
  position: fixed;
  width: 16.66%;
  height: 100%;
  z-index: 4;
}
.aside__content{
  position: absolute;
  left: calc(100% - 22px);
  bottom: 101px;
  transform: rotate(-90deg);
  width: calc(100vh - 256px);
  text-transform: uppercase;
  transform-origin: top left;
  z-index: 5;
}
.screen-nav-marker-track{
  width: calc(100vh - 256px);
  height: 5px;
}
.screen-nav-marker{
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  will-change: transform;
  pointer-events: none;
  transition: right 1s ease-in-out;
}
.aside__nav{
  margin-top: 10.5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.follower{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(10.75deg, #C3FD4B 9.77%, #9CEEA1 87.79%);
  filter: blur(146px);
  border-radius: 124.767px;
  transform: rotate(48.73deg);
}
/*  Main  */
.main-page,
.beach-page{
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.main-page__container{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 3;
}
.welcome__video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 10, 63, 0.65) 13.54%, rgba(11, 10, 52, 0) 100%);
  z-index: 1;
}
.welcome__video{
  position: absolute;
  top: -5px;
  left: -5px;
  height: 100.5vh;
  z-index: -1;
}
/* main-page slide  */
.main-page__nav-link{
  font-weight: 400;
  opacity: 0.85;
  transition: all 0.3s ease-in-out ;
}
.main-page__nav-link.active{
  opacity: 1;
  font-weight: 500;
}
.main-page__slide{
  position: relative;
  margin-left: 16.6%;
  width: 83.4%;
  height: 100vh;
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}
.main-page__slide.hidden,
.park-page__slide.hidden{
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.slide__content{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.slide__images{
  position: relative;
  max-width: fit-content;
  animation-duration: 2s;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.slide__image{
  position: absolute;
  z-index: 2;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.slide__bg{
  position: relative;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.slide__bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  z-index: -1;
}
.slide__images:hover .slide__bg::before{
  opacity: 1;
}
.slide__text-block{
  max-width: 260px;
  animation-duration: 3s;
}
.slide__title{
  margin-bottom: 20px;
}
.slide-text:first-of-type{
  margin-bottom: 15px;
  font-weight: 500;
}
.button-hover{
  margin-top: 25px;
}
.button-hover:hover{
  overflow: visible;
}
/*  welcome-slide  */
.welcome-slide{
  position: unset !important;
  padding: 0 88px;
}
.welcome-slide__content{
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}
.welcome-slide .slide__text{
  margin: 25px 0 0;
  font-weight: 500;
  line-height: 22px;
  white-space: pre-line;
}

/*  park slide  */
.park-slide{
  padding: 0 13.5%;
}
.park-slide__images .slide__bg{
  text-align: center;
}
.park-slide .slide__images:hover .slide__bg::before{
  top: 40px;
  left: -20px;
  width: 110%;
  height: 110%;
  background: url(../img/park-bg-hover.png) no-repeat;
}
.park-slide .slide__text-block{
  margin-bottom: 20px;
}

/*  beach slide*/
.beach-slide{
  padding: 0 16% 0 12%;
}
.beach-slide .slide__image{
  top: -15px;
}
.beach-slide .slide__text-block{
  margin-bottom: 60px;
}
.beach-slide .slide__images:hover .slide__bg::before{
  top: 40px;
  left: 6px;
  width: 100%;
  height: 100%;
  background: url(../img/beach-bg-hover.png) no-repeat;
}
.beach-slide .slide-text span{
  white-space: pre-line;
}

/*  glamping slide  */
.glamping-slide{
  padding: 0 11.2% 0 11.5%;
}
.glamping-slide .slide__image{
  bottom: 1px;
  left: 5px;
}
.glamping-slide .slide__text-block{
  max-width: 290px;
}
.glamping-slide .slide__images:hover .slide__bg::before{
  top: -23px;
  left: -24px;
  width: 110%;
  height: 110%;
  background: url(../img/glamping-bg-hover.png) no-repeat;
  background-size: contain;
}

/*  calendar slide  */
.calendar-slide{
  padding: 0 7.1% 0 11.4%;
}
.calendar-slide__images{
  margin-bottom: -35px;
}
.calendar-slide .slide__image{
  left: 135px;
}
.calendar-slide .slide__text-block{
  max-width: 344px;
}
.slide__images:hover{
  overflow: visible;
}
.calendar-slide .slide__images:hover .slide__bg::before{
  top: -23px;
  left: -76px;
  width: 121%;
  height: 102%;
  background-image: url(../img/calendar-bg-hover.png);
}
.contacts-page__bg-one,
.contacts-page__bg-two,
.contacts-page__bg-tree{
  position: absolute;
  z-index: -1;
}
.contacts-page__bg-one{
  bottom: 0;
  left: 0;
}
.contacts-page__bg-two{
  top: 15%;
  left: 50%;
}
.contacts-page__bg-tree{
  top: 30%;
  right: 53px;
}

.link{
  height: fit-content;
  display: inline-block; 
  vertical-align: bottom;
  background-color: initial;
  border: 0;
  transition: opacity .7s ease;
  overflow: hidden;
}
.animation-in{
  height: fit-content;
  transition: opacity 0.7s ease;
  overflow: hidden;
}
.link>span{
  transition: transform 0.7s ease;
}
.link>span,
.animation-inner{
  position: relative;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
.animation-inner,
.animation-inner-image{
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 1.2s ease;
}
.animation-down{
  transform: matrix(1, 0, 0, 1, 0, 150);
}
.animation-down-image{
  transform: matrix(1, 0, 0, 1, 0, 650);
}
.link>span:before{
  position: absolute;
  top: 108%;
  left: 0;
  content: attr(data-hover);
  transform: none;
}
.link:focus span, .link:hover span {
  transition: transform .5s ease-out;
  transform: translateY(-108%);
}
.slide__title--big {
  font-weight: 800;
  font-size: 96px;
  line-height: 100%;
  color: #F1F1F1;
}


/*==   Park page  ==*/
.park-page .aside__nav{
  overflow: hidden;
}
.park-page .main-page__nav-link{
  margin-left: 43px;
  min-width: fit-content;
}
.park-page__slide{
  padding-left: 16.6%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}
.park-page__slide.park-slide{
  position: relative;
  padding: 0 12.5% 0 16.6%;
}
.park-page__slide .park-slide__content{
  padding-left: 16.75%;
}
.park-page__slide .slide__text-block{
  max-width: none;
}
.park-page__slide .slide__title{
  margin-bottom: 30px;
}
.park-page__slide .slide__title> span{
  width: fit-content;
  padding-right: 40px;
}
.park-page__slide .slide-text:first-of-type{
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
}
.park-page__slide .slide-text{
  max-width: unset;
}
.park-page__slide .slide-text span{
  white-space: pre-line;
}
.slide__lists{
  margin-bottom: 20px;
  display: flex;
}
.slide__list{
  margin: 0 35px 0 15px;
  list-style: outside disc;
}
.slide__list-item{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  white-space: pre-line;
}
.slide-text {
  max-width: 393px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
}
.slide__arrows, .slide__arrows *{
  z-index: 3;
}
.slide__arrow{
  cursor: pointer;
}
.slide__arrow-left{
  margin-right: 23px;
}
.slider__init{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.photo-slide img{
  height: 100vh; 
  filter: blur(30px);
  transition: all .7s ease-in-out;
  max-width: none;
  width: 100%;
  object-fit: cover;
  object-position: right;
  -o-object-fit: cover;
  -o-object-position: right;
}
.photo-slide.slick-current.slick-active img{
  position: relative; 
  filter: unset; 
}
.slide-text.collapsed,
div.collapsed{
  display: none;
}
.slide__image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
}
.sport-slide__image-overlay-tree{
  background: linear-gradient(89.97deg, rgba(0, 0, 0, 0.65) 0.02%, rgba(11, 10, 52, 0) 87.48%);
  width: 40%;
}
.sport-slide__image-overlay-four{
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.sport-slide__image-overlay-five{
  width: 60%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.79) -19.16%, rgba(11, 10, 52, 0) 100%)
}
.health-slide__image-overlay-one{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%)
}
.health-slide__image-overlay-two{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%)
}
.health-slide__image-overlay-three{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%)
}
.health-slide__image-overlay-four{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%)
}
.health-slide__image-overlay-five{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%)
}
.watersport-slide__image-overlay-one{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.watersport-slide__image-overlay-two{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.watersport-slide__image-overlay-three{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.watersport-slide__image-overlay-four{
  width: 60%;
  background: linear-gradient(89.98deg, rgba(0, 0, 0, 0.55) 0.02%, rgba(11, 10, 52, 0) 96.17%);
}
.watersport-slide__image-overlay-five{
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.66) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.watersport-slide__image-overlay-six{
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.88) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.watersport-slide__image-overlay-seven{
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.88) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.food-slide__image-overlay-one{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.8) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.food-slide__image-overlay-two{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.8) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.food-slide__image-overlay-three{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.8) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.food-slide__image-overlay-four{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.child-slide__image-overlay-one{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.child-slide__image-overlay-two{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.65) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.child-slide__image-overlay-three{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.child-slide__image-overlay-four{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.art-slide__image-overlay-one{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.art-slide__image-overlay-two{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.art-slide__image-overlay-three{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.art-slide__image-overlay-four{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
.art-slide__image-overlay-five{
  width: 60%;
  background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(11, 10, 52, 0) 99.75%);
}
/*   sport-slide  */
.sport-slide{
  position: relative;
}
.sport-slide__content{
  padding: 0 83px;
}
.sport-slide .slide-text:first-of-type{
  max-width: 354px;
}
.sport-slide__arrows{
  margin-top: 25px;
}
.sport-slide .ticker,
.health-slide .ticker,
.watersport-slide .ticker,
.food-slide .ticker,
.child-slide .ticker,
.art-slide .ticker{
  top: auto;
  bottom: 50px;
  transform: rotate(0);
  z-index: 1;
}
.sport-slide .ticker-text,
.health-slide .ticker,
.watersport-slide .ticker-text,
.food-slide .ticker-text,
.child-slide .ticker-text,
.art-slide .ticker-text{
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
  text-transform: lowercase;
}
/*  health slide  */
.health-slide__content{
  padding: 0 91px;
}
.health-slide__arrows{
  margin-top: 30px;
}

/*  water sport slide  */
.watersport-slide__content{
  padding: 0 88px;
}
.watersport-slide .slide__list-item{
  line-height: 22px;
}
.watersport-slide__arrows{
  margin-top: 30px;
}

/*  food slide  */
.food-slide__content{
  padding: 0 91px;
}
.food-slide .slide-text:first-of-type{
  margin-bottom: 15px;
}
.food-slide__arrows{
  margin-top: 30px;
}

/*  child slide  */
.child-slide__content{
  padding: 0 91px;
}

/*  art slide  */
.art-slide__content{
  padding: 0 91px;
}


/*  beach-page  */
.beach-page__slide{
  margin: 0;
  padding: 0;
}
.full-page__image-slider,
.full-page__image-slide.slick-slide{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.full-page__slide-one{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page1.jpg);
  background-position: left bottom;
}
.full-page__slide-two{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page2.jpg);
  background-position: left bottom;
  background-size: 100% 100%;
}
.full-page__slide-three{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page3.jpg);
  background-position: 20% bottom;
}
.full-page__slide-four{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page4.jpg);
  background-position: left bottom;
  background-size: cover;
}
.full-page__slide-five{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page5.jpg);
  background-position: left bottom;
}
.full-page__slide-six{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.61) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page6.jpg);
  background-position: center top;
}
.full-page__slide-seven{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page7.jpg);
  background-position: left bottom;
}
.full-page__slide-eight{
  background-image: linear-gradient(90.04deg, rgba(0, 0, 0, 0.44) 0.03%, rgba(11, 10, 52, 0) 99.75%), url(../img/full-page8.jpg);
  background-position: left bottom;
}
.full-page__image-slide__text{
  height: 315px;
  position: absolute;
  top: calc(50% - 155px);;
  left: calc(16.6% + 80px);
}
.image-card__slider{
  width: 100%;
  position: absolute;
  top: calc(50% - 155px);
  left: 62%;
}
.slide__card{
  position: relative;
  width: 216.62px;
  height: 315px;
  border-radius: 15px;
  margin-right: 20px;
}
.slide__card-text{
  position: absolute;
  bottom: 28px;
  left: 20px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #E2E2E2;
  white-space: pre-line;
}
.card-slide__arrow-left{
  margin-right: 20px;
}
.full-page__text{
  margin-top: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  white-space: pre-line;
}
.image-card__slider-navigation{
  margin-top: 37px;
  display: flex;
  align-items: center;
}
.image-card__slide-number{
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  background: linear-gradient(180deg, #F1F1F1 0%, rgba(241, 241, 241, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.image-card__slider-progressbar{
  margin: 0 28px;
  max-width: 410px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  background-image: linear-gradient(90deg, #AEFF14 0%, #00E4E1 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}
.full-page__image-slide__list{
  margin-top: 15px;
}
.full-page__image-slide__list li{
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  list-style: inside disc;
}
.full-page__slide-eight .full-page__text{
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F1F1F1;
}
.link-to-park{
  margin-top: 22px;
  display: flex;
}
.link-to-park__text{
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  margin-left: 11px;
  white-space: pre-line;
}

/*  footer  */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 60px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 110;
}
.footer__mouse{
  padding: 3px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.footer__social-link{
  position: relative;
  margin: 0 6px;
}
.icon-colored{
  position: absolute;
  left: -3px;
  top: -8px;
  opacity: 0;
}
.inst-colored{
  left: -4px;
}
.fb-colored{
  top: -8px;
}
.footer__social-link:hover .white-icon{
  opacity: 0;
}
.footer__social-link:hover .icon-colored{
  opacity: 1;
}
/**/
.contacts-page__container{
  padding: 125px 22.29% 116px 16.45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-page__adress-text{
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.ya-icon{
  vertical-align: middle;
  margin-left: 6px;
}
.contacts-page__info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts-page__block-heading{
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #E9E9E9;
}
.contacts-page-email,
.contacts-page__phone{
  display: block;
  margin-bottom: 8px;
}
.contacts-page__description-text{
  max-width: 325px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-line;
}
.text--medium{
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  color: inherit; 
}
.mobile-touch-icon{
  display: none;
}
/* last slide */
.last-slide__content{
  margin-left: 80px;
  width: 100%;
  display: grid;
  row-gap:68px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.last-slide__card-link{
  display: flex;
  align-items: center;
}
.last-slide__card-heading{
  margin-left: 31px;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  color: #596082;
  transition:  all .6s ease-in-out;
}
.calendar-card .last-slide__card-heading{
  margin-left: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  
}
.glamping-card .last-slide__card-heading{
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-left: 18px;
}
.calendar-card .last-slide__card-link{
  margin-left: -18px;
}
.last-slide__card-image{
  position: relative;
  filter: grayscale(1);
  opacity: 0.3;
  transition:  all .6s ease-in-out;
}
.last-slide__page-card:hover {
  overflow: visible;
}
.last-slide__page-card:hover .last-slide__card-image{
  filter: unset;
  opacity: 1;
}
.last-slide__page-card:hover .last-slide__card-heading{
  color:#F2F2F2;
}
.park-card .image-bg-hover{
  max-width: unset;
  width: 125%;
  height: 120%;
  position: absolute;
  top: -15px;
  left: -16px;
  opacity: 0;
  transition:  all .6s ease-in-out;
}
.beach-card .image-bg-hover{
  max-width: unset;
  width: 135%;
  height: 130%;
  position: absolute;
  top: -27px;
  left: -24px;
  opacity: 0;
  transition:  all .6s ease-in-out;
}
.glamping-card .image-bg-hover{
  max-width: unset;
  width: 125%;
  height: 120%;
  position: absolute;
  top: -15px;
  left: -19px;
  opacity: 0;
  transition:  all .6s ease-in-out;
}
.calendar-card .image-bg-hover{
  max-width: unset;
  width: 102%;
  height: 102%;
  position: absolute;
  top: -6px;
  left: -1px;
  opacity: 0;
  transition:  all .6s ease-in-out;
}
.last-slide__page-card:hover .image-bg-hover{
  opacity: 1;
}
.last-slide__page-card.current {
  overflow: visible;
}
.last-slide__page-card.current .last-slide__card-image{
  filter: unset;
  opacity: 1;
}
.last-slide__page-card.current .last-slide__card-heading{
  color:#F2F2F2;
}
.last-slide__page-card.current .image-bg-hover{
  opacity: 1;
}
.last-slide__content{
  margin: 0;
  max-width: fit-content;
  row-gap: 68px;
  column-gap: 80px;
  justify-content: center;
}
.last-slide{
  padding-left: calc(16.6% + 80px);
  justify-content: center;  
}
.last-slide__page-card{
  width: fit-content;
}
.last-slide__contacts{
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 1340px) {
  .image-card__slider{
    left: 70%;
  }
  .image-card__slider-progressbar{
    max-width: 300px;
  }
}
@media screen  and (max-width: 1240px){
  .main-page__slide{
    padding: 0 7%;
  }
  .slide__text-block {
    margin-left: 20px;
  }
  .calendar-slide .slide__image{
    max-width: 60%;
    left: 25%;
  }
  .calendar-slide .slide__text-block{
    max-width: 260px;
  }
  .ticker{
    top: 10%;
  }
  .calendar-slide__images{
    margin: 0;
  }
  .park-page__slide.park-slide .slide__images:hover .slide__bg::before{
    top: 34px;
    left: -16px;
    background-size: contain;
  }
  .beach-page__slide{
    padding: 0;
  }
  .image-card__slider-progressbar{
    max-width: 250px;
  }
}
@media screen and (max-width: 1140px){
  .park-page .aside-left{
    display: none;
  }
  .image-card__slider-progressbar{
    max-width: 200px;
  }
  .last-slide{
    padding: 0;
  }
  .last-slide__content{
    margin-left: 2%;
  }
}

@media screen and (max-width: 1024px){
    .aside-left{
      display: none;
    }
    .main-page__container{
      padding: 0;
    }
    .ticker{
      top: auto;
      transform: rotate(25deg);
      animation-fill-mode: none !important;
    }
    .slide__content{
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .welcome-slide__content{
      align-items: flex-start;
      justify-content: center;
    }
    .slide__text-block{
      margin: 0 0 0 20px;
    }
    .main-page__slide{
      margin: 0 auto;
      padding: 0;
      justify-content: center;
    }
    .contacts-page__container {
      padding: 125px 6% 116px 15%;
    }
    .welcome-slide{
      padding: 0 88px;
    }
    .glamping-slide__images,
    .calendar-slide__images {
      max-width: 390px;
    }
    .glamping-slide .slide__image {
      bottom: -16px;
      left: -16px;
    }
    .park-slide__images .slide__bg{
      max-width: 300px;
    }
    .park-page__slide{
      padding: 0;
      background-size: cover;
      background-position-x: 50%;
    }
    .park-page__slide.park-slide{
      padding: 0;
    }
    .park-page__slide .park-slide__content{
      padding: 0;
    }
    .park-page__slide:not(:first-of-type) .slide__content{
      justify-content: flex-start;
      align-items: start;
    }
    .park-page__slide .slide__text-block{
      margin: 0 !important;
    }
    .slide__title--big{
      font-size: 76px;
    }
    .full-page__image-slide__text{
      left: 80px;
    }
    .image-card__slider{
      left: 55%;
    }
    .last-slide__card-heading{
      font-size: 48px;
      line-height: 56px;
    }
    .glamping-card .last-slide__card-heading,
    .calendar-card .last-slide__card-heading{
      font-size: 36px;
    }
}
@media screen and (max-width: 850px){
  .full-page__slide-two .full-page__slide-heading,
  .full-page__slide-eight .full-page__slide-heading{
    max-width: min-content;
  }
  .full-page__slide-eight .full-page__text{
    max-width: 300px;
  }
  .last-slide__content{
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px){
  .header{
    padding: 60px 52px;
  }
  .footer{
    padding:0 52px 60px 52px;
  }
  .ticker{
    transform: rotate(40deg);
    font-size: 96px;
  }
  .main-page__slide{
    width: 100%;
    margin: 0;
  }
  .slide__bg:before{
    content: none;
  }
  .contacts-page__info{
    justify-content: start;
  }
  .contacts-page__emails,
  .contacts-page__phoves{
    margin: 0 30px 20px 0;
  }
  .contacts-page__description-text{
    margin-right: 30px;
  }
  .burger__menu{
    background: #000A3F;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  .burger__menu-item{
    margin: 38.5vh 0;
  }
  .footer__mouse{
    display: none;
  }
  .mobile-touch-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 16px;
    height: 35px;
    border: 0.5px solid #E8E8E8;
    border-radius: 24px;
  }
  .touch-icon{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff54;
  }
  .touch__inner{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
  }
  .slide__lists{
    flex-wrap: wrap;
  }
  .park-page__slide:not(:first-of-type) .slide__content{
    padding: 0 50px;
  }
  .park-page__slide{
    background-position: 65%;
  }
  .park-page__slide.park-slide{
    padding: 0 30px;
  }
  .slide__title--big{
    position: relative;
  }
  .slide__title--big span::before{
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    width: 23px;
    height: 15px;
    background: url(../img/Arrow\ -spoiler.png);
  }
  .slide__title--big.collapsed span::before{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
  }
  .photo-slide img{
    width: 100%;
    right: auto;
    height: auto;
  }
  .image-card__slider-inner{
    display: none !important;
  }
  .image-card__slider{
    width: calc(100% - 160px);
    top: auto;
    bottom: 70px;
    left: 80px;
  }
  .image-card__slider-navigation{
    width: 100%;
    justify-content: space-between;
  }
  .full-page__slide-two .full-page__slide-heading, .full-page__slide-eight .full-page__slide-heading{
    max-width: unset;
  }
  .full-page__slide-three {
    background-position: 25% bottom;
  }
  .full-page__image-slide{
    background-size: cover;
  }
  .full-page__slide-heading{
    padding-right: 44px;
    position: relative;
  }
  .full-page__slide-six .full-page__slide-heading{
    max-width: 233px;
  }
  .full-page__slide-six .full-page__slide-heading::before,
  .full-page__slide-three .full-page__slide-heading::before{
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    width: 23px;
    height: 15px;
    background: url(../img/Arrow\ -spoiler.png);
  }
  .full-page__slide-heading.collapsed::before{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
  }
  .full-page__image-slide__list.collapsed{
    display: none;
  }
  .full-page__text.collapsed{
    display: none;
  }
  .last-slide__card-link{
    flex-direction: column;
  }
  .last-slide__content{
    margin: 0;
    row-gap: 32px;
    align-items: start;
    justify-content: center;
    justify-items: center;
  }
  .park-card .last-slide__card-image{
    margin-top: 10px;
  }
  .glamping-card .last-slide__card-image{
    margin-top: 25px;
  }
  .last-slide__card-heading{
    margin: 0;
    text-align: center;
  }
  .glamping-card .last-slide__card-heading{
    margin-top: 26px;
    text-align: center;
  }
  .image-bg-hover{
    display: none;
  }
  .full-page__slide-two{
    background-position: 30%;
  }
}
@media screen and (max-width: 600px){
  .welcome__video{
    top: 0;
    left: 0;
  }
  .burger__menu-link{
    font-size: 36px;
  }
  .desktop_text{
    display: none;
  }
  .mobile_text{
    display: inline-block;
  }
  .header,
  .footer{
    padding: 27px 20px;
  }
  .header__menu-link{
    display: none;
  }
  .ticker{
    transform: rotate(50deg);
    font-size: 72px;
    top: 55%;
    left: -32%;
    width: 200%;
  }
  .main-page__slide{
    padding: 0 20px;
  }
  .slide__content{
    flex-direction: column;
    align-items: center;
  }
  .welcome-slide__content{
    align-items: flex-start;
  }
  .contacts-page__bg-one,.contacts-page__bg-two,.contacts-page__bg-tree{
    display: none;
  }
  .logo-stroke{
    display: none;
  }
  .sport-slide .ticker, 
  .health-slide .ticker, 
  .watersport-slide .ticker, 
  .food-slide .ticker, 
  .child-slide .ticker, 
  .art-slide .ticker{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    bottom: 52px;
  }
  .sport-slide .ticker-text, 
  .health-slide .ticker, 
  .watersport-slide .ticker-text, 
  .food-slide .ticker-text, 
  .child-slide .ticker-text, 
  .art-slide .ticker-text{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }
  .slide__bg{
    max-width: 300px;
  }
  .last-slide__contacts{
    width: 100%;
  }
  .last-slide__contacts .contacts-page__adress{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  h2{
    font-size: 36px;
    line-height: 44px;
  }
  .glamping-slide .slide__image{
    bottom: -7px;
    left: -5px;
  }
  .contacts-page__container {
    padding: 125px 7% 116px;
  }
  .ticker{
    top: 40%;
  }
  .slide__title {
    margin-bottom: 16px;
  }
  .slide-text{
    margin-bottom: 13px;
    font-size: 11px;
    line-height: 18px;
  }
  .slide-text:first-of-type{
    font-size: 12px;
    line-height: 19px;
  }
  .slide__button{
    margin-top: 7px;
  }
  .calendar-slide .slide__title{
    font-size: 32px;
    line-height: 39px;
  }
  .contacts-page__container{
    padding: 30px;
    justify-content: center;
  }
  .contacts-page__heading,
  .contacts-page__adress{
    margin-bottom: 45px;
  }

  .contacts-page__emails{
    margin: 0 20px 45px 0;
  } .contacts-page__phoves{
    margin: 0 0 45px;
  }
  .contacts-page-email, .contacts-page__phone{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
  .contacts-page__block-heading{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
  .contacts-page__description-text{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
  }
  .park-page__slide:not(:first-of-type) .slide__content{
    padding: 0 19px;
  }
  .slide__title--big{
    font-size: 54px;
  }
  .park-page__slide .slide-text:first-of-type{
    font-size: 13px;
    line-height: 20px;
  }
  .park-page__slide .slide-text{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }
  .slide__list-item{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }
  .photo-slide img{
    width: 100%;
    height: 100vh;
    right: auto;
  }
  .slide__title--big span::before{
    top: 18px;
  }
  .park-page__slide.watersport-slide .slide-text{
    max-width: 281px;
    white-space: normal;
  }
  .park-page__slide.watersport-slide .slide-text span{
    white-space: normal;
  }
  .park-page__slide.child-slide .slide-text,
  .park-page__slide.food-slide .slide-text{
    max-width: 223px;
    white-space: normal;
  }
  .park-page__slide.child-slide .slide-text span,
  .park-page__slide.food-slide .slide-text span{
    white-space: normal;
  }
  .full-page__image-slide__text{
    left: 20px;   
  }
  .full-page__slide-heading{
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
  }
  .image-card__slider{
    left: 20px;
    width: calc(100% - 40px);
  }
  .image-card__slider-nav{
    display: none;
  }
  .image-card__slider-progressbar{
    margin:0 28px 0 0;
    max-width: 100%;
  }
  .full-page__image-slide__list li{
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
  }
  .full-page__image-slide {
    background-size: 200% 100%;
  }
  .full-page__slide-five{
    background-position: right bottom;
    background-size: 160% 100%;
  }
  .park-card .last-slide__card-image{
    max-width: 64px;
  }
  .beach-card .last-slide__card-image{
    max-width: 72px;
  }
  .glamping-card .last-slide__card-image{
    max-width: 73px;
  }
  .calendar-card .last-slide__card-image{
    max-width: 93px;
  }
  .last-slide__card-heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .glamping-card .last-slide__card-heading{
    font-size: 16px;
    line-height: 20px;
  }
  .calendar-card .last-slide__card-heading{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .park-card .last-slide__card-image{
    margin-top: 7px;
  }
  .glamping-card .last-slide__card-image{
    margin-top: 11px;
  }
  .glamping-card .last-slide__card-image {
    margin-top: 10px;
  }
  .glamping-card .last-slide__card-heading{
    margin-top: 20px;
    margin-left: 0;
  }
  .park-card .last-slide__card-image{
    margin-top: 3px;
  }
  .park-card .last-slide__card-heading{
    margin-top: 3px;
  }
  .calendar-card .last-slide__card-link{
    margin: 0;
  }
  .main-page__slide .slide__text-block{
    margin: 0;
  }
  .main-page__slide.hide-on-desktop{
    display: flex;
  }
  .slide__image-overlay{
    width: 100%;
  }
  .park-page__slide .slide-text span{
    white-space: normal;
  }
}
@media screen and (max-width: 420px) {
  .animation-inner,
  .animation-inner-image{
    transition: transform 1.5s ease;
  }
  .glamping-slide .slide__image{
    bottom: -11px;
    left: -8px;
  }
  .slide__images {
    max-width: 200px;
  }
  .park-slide .slide__images{
    max-width: 176px;
  }
  .slide__title--big{
    font-size: 48px;
  }
  .full-page__slide-one{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page1-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-two{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page2-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-three{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page3-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-four{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page4-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-five{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page5-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-six{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page6-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-seven{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page7-mob.jpg);
    background-size: cover;
  }
  .full-page__slide-eight{
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.44) 13.54%, rgba(11, 10, 52, 0) 100%), url(../img/full-page8-mob.jpg);
    background-size: cover;
    background-position: center;
  }
  .glamping-card .last-slide__card-image {
    margin-top: 10px;
  }
  .park-card .last-slide__card-image{
    margin-top: 3px;
  }
  .park-card .last-slide__card-heading{
    margin-top: 3px;
  }
  .calendar-card .last-slide__card-link{
    margin: 0;
  }
  .main-page__slide .slide__text-block{
    margin: 0;
  }
  .full-page__slide-eight .full-page__text{
    margin-top: 4px;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) and (max-height: 500px) {
  .header, .footer{
    padding: 25px 52px;
  }
  .sport-slide .ticker-text, .health-slide .ticker, .watersport-slide .ticker-text, .food-slide .ticker-text, .child-slide .ticker-text, .art-slide .ticker-text{
    font-size: 68px;
    line-height: 68px;
  }
  .photo-slide img {
    width: 100%;
    height: 100vh;
    right: 0;
  }
}