html{
  scroll-behavior: smooth;
}
h1{
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
}
h2{
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
  color: #F2F2F2;
  white-space: pre-line;
}
p,span,a,li{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F4F4F4;
}
body{
  background-color: #000A3F;
}
.button{
  position: relative;
  width: 122px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.button:hover{
  border: none;
  background:  linear-gradient(90deg, #C3FD4A 0%, #9CEEA1 100%);
  transition: all 0.5s ease-in-out;
}
.button:hover::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: blur(6px);
  background: linear-gradient(90deg, #C3FD4A 0%, #9CEEA1 100%);;
}
.button__body{
  color: #ffffff;
  text-transform: uppercase; 
  z-index: 2;
}
.ticker{
  position: absolute;
  top: 20%;
  left: -20%;
  display: block;
  width: 150%;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
}
.ticker-text{
  background: linear-gradient(180deg, #000E5A 0%, rgba(0, 12, 78, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; 
}
/*  header  */
.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 54px 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.header__logo{
  display: flex;
}
.logo-title{
  margin-left: 3px;
  vertical-align: middle;
  white-space: pre-line;
}
.header__menu{
  display: flex;
}
.header__menu-link{
  margin-right: 51px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase
}
.burger {
  width: 21px;
  height: 12px;
  align-self: center;
  z-index: 5;
}
.burger__line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.burger__line-two{
  margin: 6px 0;
}
.vk-icon, .inst-icon, .fb-icon {
  fill: #D7D7D7;
}
.vk-icon:hover{
  fill:url(../img/icons.svg#g3);
}
.inst-icon:hover{
  fill:url(../img/icons.svg#g2);
}
.fb-icon:hover{
  fill:url(../img/icons.svg#g1);
}
/*  aside  */
.aside-left{
  position: fixed;
  width: 16.66%;
  height: 100%;
  z-index: 4;
}
.aside__content{
  position: absolute;
  left: calc(100% - 12px);
  bottom: 101px;
  transform: rotate(-90deg);
  width: calc(100vh - 256px);
  text-transform: uppercase;
  transform-origin: top left;
  z-index: 5;
}
.aside__nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/*  Main  */
.main-page{
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.main-page__container{
  padding-left: 16.6%;
  width: 100%;
  z-index: 3;
}
.welcome__video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(180deg);
  z-index: 1;
}
.welcome__video{
  position: absolute;
  top: -1px;
  left: -5px;
  height: 100vh;
  z-index: -1;
}
/* main-page slide  */
.main-page__slide{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
.slide__content{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.slide__images{
  position: relative;
  max-width: fit-content;
}
.slide__images:hover .slide__bg img{
  filter: blur(6px);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.slide__image{
  position: absolute;
  z-index: 2;
}
.slide__bg{
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.slide__text-block{
  max-width: 260px;
}
.slide__title{
  margin-bottom: 20px;
}
.slide-text{
  margin-bottom: 15px;
}
.slide__button{
  margin-top: 10px;
}
.slide__bottom-blur{
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 60%;
  height: 250px;
  background: #000A3F;
  filter: blur(47px);
  z-index: 5;
}


/*  welcome-slide  */
.welcome-slide{
  padding: 0 88px;
}
.welcome-slide__content{
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome-slide .slide__text{
  margin: 25px 0;
  font-weight: 500;
  line-height: 22px;
  white-space: pre-line;
}

/*  park slide  */
.park-slide{
  padding: 0 14.5%;
}
.park-slide .slide__image{
  top: -70px;
}
/*  beach slide*/
.beach-slide{
  padding: 0 16% 0 12%;
}
.beach-slide .slide__image{
  left: 32px;
}
.beach-slide .slide__text-block{
  margin-bottom: 60px;
}
/*  glamping slide  */
.glamping-slide{
  padding: 0 12.1% 0 11.5%;
}
.glamping-slide .slide__image{
  bottom: 5px;
    left: 2px;
}
.glamping-slide .slide__text-block{
  max-width: 290px;
}

/*  calendar slide  */
.calendar-slide{
  padding: 0 7.7% 0 12.7%;
}
.calendar-slide .slide__image{
  left: 135px;
}
.calendar-slide .slide__text-block{
  margin-bottom: 80px;
  max-width: 344px;
}


/*  footer  */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px 61px 40px 63px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.footer__mouse{
  padding: 3px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.footer__social-link{
  margin: 0 6px;
}